body {
  margin: 0;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.content {
  max-width: 1300px;
  margin: auto;
  background: white;
}

.sidenav {
  float: left;  
  height: 100%;
  width: 320px;     
  background-color: #F0F0F0;
  position: fixed;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav img {
  width:20px;
  height:20px;
}

.sidenav a:hover {
  color: blue;
}

header{
  text-align: center;
}

#main {
  max-width: 1000px;
  height: 100%;  
  padding-top: 50px;
  color: black;
  margin-left: 350px;
}

#myimg{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-image: url("./img/marija.jpg");
  border:10px solid white;
  border-radius: 50%;
  background-size: cover;

}

.description{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1{
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50px;
}
h2{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
